body{
    background-color: #CCCCCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.container{
    background-image: linear-gradient(#200D24, #591C63);
    margin: auto;
    width: 670px;
    height: 590px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Header{
    padding: 0.9rem;
}

.header-title {
    color: #FECD23;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.header-subtitle{
    margin-bottom: 0.8rem;
}

.form {
    background-image: linear-gradient(#631F6F, #200D24);
    width: 80%;
    height: 337px;
    padding: 1.2rem;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    border-radius: 5px;
}

.form-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 5px;
}

.container-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.cards{
    background-image: linear-gradient(#3F61EF, #6CBEFC);
    border: 12px solid #2637DA;
    border-radius: 0.6rem;
    width: 26%;
    height: 82%;
    margin: 5px;
}


input {
    margin: 5px;
    width: 70%;
    height: 5px;
    padding: 7px;
    align-self: center;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: 5px;
    margin-bottom: 0.9rem;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #621E6E;
}

object{
    width: 140px;
}


button {
    width: 50%;
    background-color: #1D0C20;
    padding: 14px 20px;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FFF;
    cursor: pointer;
}